@import "compass"
@import "compass/css3"

@mixin box-line($color)
  border: 1px solid $color

.box-b
  @include box-line(#000)

.box-r
  @include box-line(#f00)

$menu_w: 240px
$icon_s: 36px
$icon_fs: 24px
$tab_fs: 20px
$link_icon_fs: 20px
$title_fs: 24px
$title_h: 48px

//$clickable_c: #aaf
//$hover_c: #55f
$clickable_c: #ccc
$hover_c: #000
$title_bg_c: #ccc
$title_c: #fff
$light_bg_c: #eee
$default_fc: #666


$default_fs: 15px
$code_fs: 0.8em

.clear
  clear: both

body
  font-size: $default_fs

.site
  a
    color: $hover_c
    &:hover
      color: $hover_c
  width: 100%
  .menu
    overflow-x: auto
    overflow-y: hidden
    position: fixed
    top: 0px
    width: $menu_w
    height: 100%
    background: #fff
    @include box-shadow(#333 0px 0px 10px)
    .tab-title
      width: 100%
      margin-top: 8px
      font-size: $title_fs
      color: $title_c
      line-height: $title_h
      background: $title_bg_c
      text-align: center
      padding: 6px 0px 0px
      a
        color: $title_c
        text-decoration: none
        &:hover
          color: $title_c
    .tab
      text-align: right
      margin: 10px
      a
        font-size: $tab_fs
        line-height: $icon_s
        color: $clickable_c
        text-decoration: none
        &:hover
          color: $hover_c
        i
          &:hover
            color: $hover_c
          @include border-radius(5px)
          line-height: $icon_s
          color: $clickable_c
          line-height: $icon_s
          font-size: $icon_fs
          text-align: center
          height: $icon_s
          width: $icon_s
          margin-left: 10px
      .gsc-control-cse
        padding: 0px
        .gsc-search-button
          input
            &:hover
              border: 2 solid $hover_c
              background: $hover_c
            @include border-radius(5px)
            border: 2 solid $clickable_c
            line-height: $icon_s
            font-size: $icon_fs
            text-align: center
            width: $icon_s
            background: $clickable_c
            padding: 6px 11px
            height: 13px
            width: 13px
            background: $clickable_c
    .link
      text-align: right
      margin: 10px
      a
        color: $clickable_c
        &:hover
          color: $hover_c
        .fa-stack
          font-size: $link_icon_fs
  .content
    margin-left: $menu_w + 30px
    margin-right: 8px
  .post
    code
      padding: 3px 5px
      margin: 3px
      background: $light_bg_c
      border-width: 0
    pre
      padding: 13px
      margin: 13px
      background: $light_bg_c
      border-width: 0
      font-size: $code_fs
      code
        padding: 0px
        margin: 0px
        background: $light_bg_c
  .main-title
    i
      margin-right: 8px
    margin-top: 8px
    font-size: $title_fs
    padding: 6px 0px 0px 30px
    margin-left: $menu_w
    color: $title_c
    line-height: $title_h
    background: $title_bg_c
  .meta
    margin-top: 8px
    font-size: 16px
    color: $title_bg_c
    i
      margin-right: 5px
    .time-area
      float: right
      margin-left: 20px
      margin-right: 8px
    .tag-area
      float: right
      a
        text-decoration: none
        color: $title_bg_c
        &:hover
          color: $title_bg_c
  .tag-list
    margin-top: 24px
    .tag-entry
      margin: 8px
      color: $title_bg_c
      i
        margin-right: 5px
      a
        text-decoration: none
        color: $title_bg_c
        &:hover
          color: $title_bg_c
  .list
    margin-top: 24px
    .list-entry
      &:hover
        background: $light_bg_c
      padding: 5px 8px
      line-height: $default_fs*2
      height: $default_fs*2
      color: $default_fc
      i
        margin-right: 5px
      a
        text-decoration: none
        color: $default_fc
        &:hover
          color: $hover_c
      .list-title
        float: left
      .list-time
        padding-left: 10px
        float: right
      .list-tag
        float: right
